DB_HOST=host_base_de_datos
DB_PORT= puerto_base_datos (normalmente 5432 para PostgreSQL)
DB_USER= tu_usuario_base_de_datos
DB_PASSWORD= tu_contraseña_aqui
DB_NAME=nombre_base_de_datos

REDIS_HOST=host_redis
REDIS_PORT=puerto_redis (normalmente 6379)

TIINGO_API_KEY=tu_clave_aqui
FINNHUB_API_KEY=tu_clave_aqui
FMP_API_KEY=tu_clave_aqui

RISK_INDEX_SYMBOLS=no_requerido_en_sistema_actual